name: turn_page_transition
description: This package provide simple Page-Turning Transition to your app.
version: 0.2.0
homepage: https://github.com/Shoryu-Y
repository: https://github.com/Shoryu-Y/turn_page_transition
View/report issues: https://github.com/Shoryu-Y/turn_page_transition/issues

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
